@import url('./__title/table__title.css');
@import url('./__wrapper-text/table__wrapper-text.css');
@import url('./__wrapper-num/table__wrapper-num.css');
@import url('./__table-graph/table__table-graph.css');

.table {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: #F5F6F7;
    /*border: 1px solid red;*/
}

@media screen and (min-width: 320px) {
    .table {
        width: 100%;
        padding-top: 24px;
        padding-right: 16px;
        padding-bottom: 38;
        padding-left: 16px;
    }
}

@media screen and (min-width: 768px) {
    .table {
        width: 100%;
        padding: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .table {
        width: 1440px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 104px;
        padding-right: 104px;
    }
}