.preloader-load__caption {
    margin-top: 178px;
    color: #B6BCBF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}