@import url('../../table-caption/table-caption.css');

.table__wrapper-text {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #1A1B22;
}

.table__wrapper-text .table-caption:first-of-type {
    width: 60px;
}

@media screen and (min-width: 320px) {
    .table__wrapper-text .table-caption:first-of-type {
        margin-right: 16px;
        padding-bottom: 8px;
    }
}
@media screen and (min-width: 768px) {
    .table__wrapper-text .table-caption:first-of-type {
        margin-right: 50px;
        padding-bottom: 10px;
        
    }
}
@media screen and (min-width: 1440px) {
    .table__wrapper-text .table-caption:first-of-type {
        margin-right: 40px;
        padding-bottom: 10px;
    }
}