.wrapper-slider-button__text {
    width: 288px;
    position: absolute;
    padding: 16px 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    border-radius: 80px;
    z-index: 1;
}