.content-about__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.content-about__text {
    margin-bottom: 0px;
}

@media screen and (min-width: 320px) {
    .content-about__text {
        width: 100%;
        margin-bottom: 26px;
    }
}
@media screen and (min-width: 768px) {
    .content-about__text {
        width: 100%;
        margin-bottom: 26px;
    } 
}
@media screen and (min-width: 1440px) {
    .content-about__text {
        width: 900px;
        margin-bottom: 94px;
    }
}