@import url('../../line-num/line-num.css');

@media screen and (min-width: 320px) {
    .table__wrapper-num {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .table__wrapper-num {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        margin-left: 110px;
        margin-bottom: 8px;
    }
}
@media screen and (min-width: 1440px) {
    .table__wrapper-num {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 10px;
    }
}