@import url('./__text/table-graph__text.css');
@import url('./__line-wrapper/table-graph__line-wrapper.css');

.data-graph {
    display: flex;
}
.data-graph:last-of-type {
    margin-bottom: 0px;
}


@media screen and (min-width: 320px) {
    .data-graph {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 768px) {
    .data-graph {
        margin-bottom: 56px;
    }
}
@media screen and (min-width: 1440px) {
    .data-graph {
        margin-bottom: 56px;
    }
}
